
.in {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 1.3vw;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; 
}

.in {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 1.3vw;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; 
}
#oxygen {
    background-color: rgb(79, 128, 168);
    width: 0%;
    height: 100%;
    border-radius: 5px;
    --glow-color: rgb(79, 128, 168);
    box-shadow: 0 0 10px var(--glow-color), 0 0 20px var(--glow-color), 0 0 30px var(--glow-color);
}
#hp {
    background-color: rgb(241, 36, 36);
    width: 0%;
    height: 100%;
    border-radius: 5px;
    --glow-color: rgb(241, 36, 36);
    box-shadow: 0 0 10px var(--glow-color), 0 0 20px var(--glow-color), 0 0 30px var(--glow-color);
}

#armour {
    background-color: rgb(35, 119, 245);
    width: 0%;
    height: 100%;
    border-radius: 5px;
    --glow-color: rgb(35, 119, 245);
    box-shadow: 0 0 10px var(--glow-color), 0 0 20px var(--glow-color), 0 0 30px var(--glow-color);
}
#hunger {
    background-color: rgb(194, 126, 25);
    width: 0%;
    height: 100%;
    border-radius: 5px;
        --glow-color: rgb(194, 126, 25);
    box-shadow: 0 0 10px var(--glow-color), 0 0 20px var(--glow-color), 0 0 30px var(--glow-color);
}

#thirst {
    background-color: rgb(0, 225, 255);
    width: 0%;
    height: 100%;
    border-radius: 5px;
        --glow-color: rgb(0, 225, 255);;
    box-shadow: 0 0 10px var(--glow-color), 0 0 20px var(--glow-color), 0 0 30px var(--glow-color);
}
#stamina {
    background-color: rgb(18, 211, 76);
    width: 0%;
    height: 100%;
    border-radius: 5px;
        --glow-color: rgb(18, 211, 76);
    box-shadow: 0 0 10px var(--glow-color), 0 0 20px var(--glow-color), 0 0 30px var(--glow-color);
}


#hpt{
    color: rgb(255, 255, 255);
    font-weight: bold;
}
#art{
    color: rgb(255, 255, 255);
    font-weight: bold;
}
#hut{
    color: rgb(255, 255, 255);
    font-weight: bold;
}
#tht{
    color: rgb(255, 255, 255);
    font-weight: bold;
}
#stt{
    color: rgb(255, 255, 255);
    font-weight: bold;
}
#oxt{
    color: rgb(255, 255, 255);
    font-weight: bold;
}
img{
    width: 1.5vw;
}
.cnm2{
    height: 16vh; 
    width: 102vw; 
    background-color: black; 
    margin-left: -1vw; 
    margin-top: 70vh; 
    display: none
}

.cnm{
    height: 15vh; 
    width: 102vw; 
    background-color: black; 
    margin-left: -1vw; 
    margin-top: -1vh;
    display: none
}


.hud2 {
    position: fixed;
    top: 20vh;
    right: 1vw;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.hudRow {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.txt2 {
    font-size: 1vw;
    color: white;
    white-space: nowrap;
    font-family: "Roboto Condensed", sans-serif;
}

.cnt {
    position: absolute;
    top: 95%;
    left: 2%;
    display: flex;
    gap: 1vw;
}
.cnt222 {
    position: absolute;
    top: 97%;
    left: 2%;
    display: flex;
    gap: 1vw;
}
.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3vw;
}

.box2 {
    display: flex;
    align-items: center;
    gap: 0.3vw;
    color: white;
    font-size: 1vw;
    font-family: "Roboto Condensed", sans-serif;
}



.box2 img.icon {
    width: 1vw;
    height: auto;
}

.box {
    width: 3vw;
    height: 1vw;
    background-color: rgb(32, 32, 32);
    border-radius: 6px;
}
.box3{
    font-size: 1.2vw;
    font-family: "Roboto Condensed", sans-serif;
    color: white;
}
.box3 img.icon {
    width: 1vw;
    height: auto;
}




.hud {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 4vw;
    position: fixed;
    top: 89vh;
    left: 95vw;
}

.speedLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1;
}

.speed2 {
    color: white;
    font-size: 2.5vw;
    text-align: right; 
    width: 3vw;
    margin-left: -1vw;
    font-weight: bold;
    font-family: "Roboto Condensed", sans-serif;
}

.speed3 {
    color: rgb(102, 102, 102);
    font-size: 1.2vw;
    font-weight: bold;
    font-family: "Roboto Condensed", sans-serif;
}

.speedRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.speedImg {
    width: 1.3vw;
}

.fuelBar {
    width: 0.5vw;
    height: 3vw;
    background-color: black;
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
}

.fuelFill {
    background-color: rgb(102, 102, 102);
    width: 100%;
    height: 50%;
    transition: height 0.3s ease;
}
